.header-size-custom #logo img {
    height: 24px !important;
}

.justify-content-between>div:nth-child(1)>abbr:nth-child(2)>a:nth-child(1) {
    color: rgba(255, 255, 255, 0.4);
}


div.mt-2>div:nth-child(2)>div:nth-child(1)>img:nth-child(1) {
    height: 537px;
    object-fit: cover;
}

.bankList img {
    width: 170px;
}

.norek {
    background-color: rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: .25rem;
}

.norek h2 {
    margin-bottom: 0;
}

.payment h3 {
    font-weight: 400;
}

.payment .orderNum {
    background-color: rgba(0, 0, 0, .4);
    padding: .35rem;
    font-weight: 700;
    border-radius: .25rem;
}

@media (min-width: 1281px) {

    /* CSS */

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* CSS */

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* CSS */
    .standard-logo>img:nth-child(1),
    .retina-logo>img:nth-child(1),
    .header-size-custom #logo img {
        width: auto;
        height: 30px !important;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .standard-logo>img:nth-child(1),
    .retina-logo>img:nth-child(1),
    .header-size-custom #logo img {
        width: auto;
        height: 24px !important;
    }


}
